.appui-note-cms-block-slider-slide{
	.component-container {
		display: grid;
		grid-gap: 5px;
		.slider-image-section{
      box-sizing: border-box;
			.block-slide-link{
				//flex-direction:column;
			}
			
			//flex:1;
			img{
     
			}
		}
	}
}