.appui-note-cms-elementor-guide {
  > div {
    pointer-events: none;
    border-bottom: 2px dashed transparent;
  }
  &.vertical {
    > div {
      border-right: 2px dashed transparent;
    }
  }
  &.bbn-droppable-over {
    > div {
      border-color: var(--secondary-background);
    }
  }
}