/* LESS Document */

.appui-note-cms-editor {
  .slider {
    width: 0px;
    height: 100%;
    box-shadow: -2px 0px 20px 0px !important;
    transition: width 0.5s ease 0s;
    overflow: hidden;
    display: block;
    position: relative;
    &.opened {
      width: max(250px, 30%);
    }
    .bbn-radiobuttons .bbn-button {
      padding: 0.0833rem 0.3rem !important;
      min-width: 2rem;
    }
  }
  div.grid {
    grid-template-columns: 50% 50%;
  }
  .appui-note-cms-editor-position {
    .bbn-button {
      clear: both;
      float: left;
      &:not(:first-child) {
        margin-top: var(--xsspace);
      }
    }
  }
}
