/* LESS Document */

.appui-note-cms-editor {
  .appui-note-cms-editor-dock {
    gap: 0.6rem;
    background-color: var(--secondary-background);
  }
  .slider {
    &:not(.opened) {
      width: 0px !important;
    }
    height: 100%;
    box-shadow: 3px 1px 10px 2px var(--default-text) !important;
    background-color: var(--secondary-background);
    color: var(--secondary-text);
    overflow: hidden;
    display: block;
    position: relative !important;
    left: unset !important;
    &.opened {
      width: max(250px, 30%);
    }
    &.maximized {
      width: 100% !important;
      position: absolute !important;
    }
    .bbn-radiobuttons .bbn-button {
      padding: 0.0833rem 0.3rem !important;
      min-width: 2rem;
    }
    .grid-dropper {
      justify-content: center;
    }
  }
  div.grid {
    grid-template-columns: 50% 50%;
  }
  .appui-note-cms-editor-position {
    .bbn-button {
      clear: both;
      float: left;
      &:not(:first-child) {
        margin-top: var(--xsspace);
      }
    }
  }
}
