/* LESS Document */

.@{componentName} {
  margin: 15px auto;
  padding-bottom: 12px;
  text-align: left;
  display: grid;
  grid-gap: 20px;
  &.cols-1, .cols-1{
    grid-template-columns: 1fr;
  }
  &.cols-3, .cols-3{
    grid-template-columns: repeat(3,1fr);
  }
  &.cols-4, .cols-4{
    grid-template-columns: repeat(4,1fr);
  }
  &.cols-2, .cols-2{
    grid-template-columns: repeat(2,1fr);
  }
  a{
    overflow: hidden;
    display: flex;
    flex-direction:column;
    //  align-items: center;
    justify-content: flex-start;
    .@{componentName}-caption{
      margin-top: 7px;
    }
  }
	.image-details-title{
    font-size: 1.3em;
    line-height: 1em;
    margin: 1em 0 .2em 0;
    display: inline-block;
  }
}