/* LESS Document */

.@{componentName} {
  /* .bbn-gallery-columns-container{
    justify-content: space-between;
  } */
  .cropped{
    .bbn-gallery-columns-container{
      div{
        //display: grid !important;
        .bbn-gallery-item{
          span{
            display: block;
            position: relative;
            overflow: hidden;
            width: 100%;
            aspect-ratio: 1;
            img{
              height: 100%;
              width: 100%;
              object-fit: cover;
            }
          }
        }
      }
    }
  }
  a{
    overflow: hidden;
    display: flex;
    flex-direction:column;
    //  align-items: center;
    justify-content: flex-start;
    .@{componentName}-caption{
      margin-top: 7px;
    }
  }
	.image-details-title{
    font-size: 1.3em;
    line-height: 1em;
    margin: 1em 0 .2em 0;
    display: inline-block;
  }
}
@media only screen and (max-width: 640px) {
  .@{componentName} {
    .bbn-gallery-columns-container{
      justify-content: space-around !important;
    }
  }
}
