/* LESS Document */

@border-width: 2px;

.@{componentName} {

  .@{componentName}-icons {
    display: none;
  }
  > .@{componentName}-component {
    min-height: 1.8em;
    &.@{componentName}-selected {
      border-color: var(--selected-border) !important;
    }
    &.@{componentName}-selectable {
      border: @border-width dashed var(--alt-background);
    }
  }
  &.@{componentName}-over {
    > .@{componentName}-component {
      border-color: var(--hover-border) !important;
    }
  }
/*
  .bbn-grid-fields{
    border: none!important;
  }
*/
}
