/* LESS Document */

.appui-note-cms-elementor {
  .appui-note-cms-elementor-guide {
    position: absolute;
    left: 2em;
    right: 2em;
    pointer-events: none;
    border-bottom: 0.3em dashed #ccc;
    height: 0.3em;
    display: none;
  }
  .appui-note-cms-elementor-divider  {
    display: none;
    position: absolute;
    border: 1px dashed;
    pointer-events: none;
    border: 0.3em dashed #ccc;
    width: 50%;
  }
}
