/* LESS Document */

@border-width: 2px;

.appui-note-cms-elementor {
  .appui-note-cms-elementor-guide {
    > div {
      pointer-events: none;
      border-bottom: @border-width dashed var(--secondary-background);
    }
  }
  .appui-note-cms-elementor-divider  {
    display: none;
    position: absolute;
    border-style: dashed;
    border-color: #ccc;
    border-width: @border-width;
    pointer-events: none;
    width: 50%;
  }
}
