/* LESS Document */

@border-width: 2px;

.@{componentName} {
  .@{componentName}-icons {
    display: none;
    position: absolute;
    right: 0;
    top: 0;
    height: 1.8em;
  }
  > .@{componentName}-component {
    min-height: 1.8em;
    padding: 1em;
    display: block;
    &.@{componentName}-selected {
      border: @border-width dashed var(--selected-border) !important;
    }
    &.@{componentName}-selectable {
      border: @border-width dashed transparent;
      &:hover {
        border-color: var(--default-border);
      }
    }
	}
	&.@{componentName}-over:not(.@{componentName}-selected) {
      .@{componentName}-icons {
        display: block;
    	}
    	> .@{componentName}-component {
      	border-color: var(--hover-border) !important;
    	}
  	}

/*margin: 15px auto;*/
hr{
  color: #bbb;
  background-color: #bbb;
  border-bottom-width: 0;
  border-top-width: 1px;
}
.@{componentName}-container{
  padding: 12px 10px;
  margin: 0 auto;
  float: unset;
  .bbn-grid-fields{
    align-items: center;
  }
  &.has-hr{
    display: flex;
    align-items: center;
    &.edit-block{
      flex-direction: column;
      .edit-title{
        width: 100%;
        display: flex;
        align-items: center;
      }
    }
    hr{
      margin: 0 30px;
      flex-grow: 1.5;
    }
  }
}
/*
.bbn-grid-fields{
border: none!important;
}
*/
}
@media only screen and (max-width: 640px){
  .@{componentName} {
    > .@{componentName}-component {
      padding: 0;
  }
}
}
